<% current ||= nil %>
<li <%= raw "class='#{attachment_listing_item_classes(attachment, current).join(' ')}'"%>>
  <%= link_to edit_attachment_path(attachment) do %>
    <%= image_tag(attachment.translation.attachment_url, class: 'preview') if attachment.is_image? %>
    <%= attachment.name %>
  <% end %>
  <div class="mo">
    <%= button_to '', attachment_path(attachment), method: :delete, class: "ico-mini-delete", title: t('.destroy') %>
  </div>
</li>
