<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'no_cms/admin/carrierwave/application' %>
<% end %>

<% content_for :second_menu do %>
  <%= content_tag :ul do %>
    <%= render partial: 'attachment_listing_item', collection: @attachments, as: 'attachment' %>
  <% end unless @attachments.blank? %>
<% end %>

<%= content_tag :ul do %>
  <% @attachments.each do |attachment| %>
    <li <%= raw "class='#{attachment_listing_item_classes(attachment).join(' ')}'"%>>
      <%= link_to edit_attachment_path(attachment) do %>
        <%= image_tag(attachment.translation.attachment_url, class: 'preview') if attachment.attachment.image? %>
        <%= attachment.name %>
      <% end %>
    </li>
  <% end %>
<% end unless @attachments.blank? %>
